<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Los Magios store Celulares de alta gama">
    <meta name="keywords" content="celulares, high end, alta gama, Los Magios, store">
    <meta name="author" content="Los Magios">
    <title>Los Magios Store</title>
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <link rel="stylesheet" type="text/css"  href="/css/estilos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Calistoga|Inconsolata&display=swap|Arvo&display=swap|Merriweather&display=swap|Solway&display=swap|Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Calistoga|Inconsolata&display=swap|Arvo&display=swap|Merriweather&display=swap|Solway&display=swap|Poppins&display=swap" rel="stylesheet">
</head>
<body>
        <%- include ('partials/menu') %>
        
     <div class="direcciongeneral">  
        <div class="container">
                <div class="row colums">
                    <div class="col-4 primero">
                        <p class="letrasPrim">HORARIOS DE ATENCIÓN:</p>
                        <p  class="letrasPrim">Oficina: Lunes a Viernes 10 a 18 h 
                           Online: Lunes a Sábado 10 a 20 h Teléfono: Lunes a Sábado 10 a 20 h</p>
                           <p class="letrasPrim">Redes Sociales</p>
                        <i class="fab fa-facebook icono"></i><i class="fab fa-twitter-square icono"></i><i class="fab fa-instagram icono"></i>
                    </div>
                    <div class="col-4 segundo">
                        <i class="fas fa-phone-alt icono2"></i><span class="letras">264-4050827</span>
                        <br>
                        <i class="fas fa-map-marker-alt icono3"></i>
                        <span class="letras2">La Pampa 4373 (O)</span>
                        <br>
                        <span class="letras21">Chimbas - San Juan</span>
                        <br>
                        <i class="far fa-envelope icono4"></i> <span class="letras3"> Losmagiosstore@gmail.com</span>
                    </div>
                    <div class="col-4 tercero">
                        <h2 class="letrasPrime">Nos encontras aquí: </h2>
                        <div class="mapa">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27212.251360445698!2d-68.59508175899032!3d-31.509561259261663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968141722f93fde7%3A0xf9570c24982443ca!2sPorres%2C%20San%20Juan!5e0!3m2!1ses-419!2sar!4v1575411597462!5m2!1ses-419!2sar" width="300" height="300" frameborder="0" style="border-radius:200px;" allowfullscreen=""></iframe>
                        </div>    
                    </div>
                </div>
            </div>
    </div>
        <%- include ('partials/footer') %>
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/funciones.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>