<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Los Magios store Celulares de alta gama">
    <meta name="keywords" content="celulares, high end, alta gama, Los Magios, store">
    <meta name="author" content="Los Magios">
    <title>Quienes Somos</title>
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <link rel="stylesheet" type="text/css"  href="/css/estilos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Calistoga|Acme&display=swap|Inconsolata&display=swap|Arvo&display=swap|Merriweather&display=swap|Solway&display=swap|Poppins&display=swap" rel="stylesheet">
  </head>
<body>
    <%- include ('partials/menu') %>
	<div class="quienesSomos">
		<h3 class="leo">Somos una empresa radicada en la provincia de San Juan. Fue fundada en el año 2008, con la meta de ser líder en el rubro de accesorios para telefonía celular y dispositivos móviles.</h3>
		<img src="/img/quienesSomos1.png" class="rounded-circle imgLeo1">
	</div>
	<div class="quienesSomos2">
		<img src="/img/quienesSomos2.png" class="rounded-circle imgLeo2">
		<h3 class="leo2">Nuestro principal objetivo es ofrecer productos con la mejor calidad, utilizando tecnologías de punta, además de estar siempre innovando para ser los primeros en traer los últimos modelos del mercado, con un incomparable servicio de atención al cliente y precios competitivos. Esto resulta en clientes altamente leales que aumentan de modo constante.</h3>
	</div>
    
    <%- include ('partials/footer') %>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/funciones.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>