<footer>
    <ul class="nav justify-content-center PiePag fixed-bottom">
            <li class="nav-item">
              <a class="nav-link active" href="/quienesSomos">Quienes Somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/nosotros">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacto">Contacto</a>
            </li>
          </ul>
</footer>