<header>
        <div class="administrador"> <!--class="admin"-->
                <a class="admin" href="/administrador">Acceso administrador</a> <!--class="admin"-->
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4 "> <!--tituloMenu-->
                    <img src="/img/a.png" class="imgprincipal" >
                </div>
                <div class="col-8 botonesMenu">
                    <ul class="nav "> <!--listaMenu-->
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="clicazo">Smartphones</a>
                            <div class="dropdown-menu interiores ">
                            <a class="dropdown-item " href="/enContruccion"><i class="fas fa-mobile-alt"> Xiaomi</i></a>
                            <a class="dropdown-item " href="/enContruccion"><i class="fas fa-mobile"> Motorola</i></a>
                            <a class="dropdown-item " href="/enContruccion"><i class="fab fa-android"> <b> Samsung</b></i></a>
                            <a class="dropdown-item " href="/enContruccion"><i class="fas fa-mobile-alt"> Huawei</i></a>
                            <a class="dropdown-item " href="/enContruccion"><i class="fab fa-apple"> Apple</i></a>
                            <a class="dropdown-item " href="/enContruccion"><i class="fas fa-mobile"> TCL</i></a>
                            <a class="dropdown-item " href="/enContruccion"><i class="fab fa-android"> Alcatel</i></a>
                            <a class="dropdown-item " href="/enContruccion"><i class="fas fa-mobile-alt"> Lenovo</i></a>
                            <a class="dropdown-item " href="/enContruccion"><i class="fas fa-mobile"> Nokia</i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/formasDePago">Formas de pago</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
 
    
    
    
    <div class="nav justify-content-center fixed-top">   <!--menu-->
        
    <!--  -->
</div>
</header>